/* Navbar */

@media (max-width: 850px) {
  .media-icon {
    display: inline-block;
  }

  .drop-down {
    display: none;
  }

  .container {
    padding: 20px 10px;
  }
}

/* Status */

@media (max-width: 650px) {
  .progress-bar {
    width: 90vw;
  }
}

/* Activity Log */

@media (max-width: 1270px) {
  .activity-container {
    width: 80vw;
    margin: 20px auto;
  }
}
