/* Navbar */

@media (max-width: 850px) {
  .media-icon {
    display: inline-block !important;
  }

  .drop-down {
    display: none !important;
  }

  .container {
    padding: 20px 10px !important;
  }
}

/* Track */

@media (max-width: 650px) {
  .track-container .shipment-search {
    width: 90vw;
  }
}

/* Status */

@media (max-width: 660px) {
  .status-container .progress-bar {
    width: 90vw;
  }

  .status-container .last-info {
    width: 80vw;
  }
}

/* Activity Log */

@media (max-width: 1270px) {
  .activity-container {
    width: 80vw;
    margin: 20px auto;
  }
}
