.modal-container {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 1;
  padding: 23px 0;
  color: #111619;
  padding: 30px 30px;
}

.modal-hide {
  display: none;
}

.modal-option {
  font-weight: bold;
  width: 95%;
  border-bottom: 1px dashed #667085;
  padding-bottom: 23px;
  cursor: pointer;
}
