.container {
  padding: 20px 70px;
}

.container nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo svg {
  width: 120px;
  height: 36px;
}

.media-icon {
  display: none;
}

.media-icon svg {
  font-size: 1.6rem;
  color: #111619;
  cursor: pointer;
  transition: all 0.3s linear;
}

.media-icon svg:hover {
  transform: rotate(90deg);
}

.drop-down {
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.drop-down:hover .arrow-icon {
  color: #e30613;
  transform: rotate(-90deg);
}

.drop-down:hover .drop-down-lang {
  color: #e30613;
}

.drop-down .drop-down-lang {
  font-weight: bold;
  margin-top: 2px;
}

.drop-down .drop-down-icon {
  text-align: center;
  padding-top: 5px;
}

.drop-down .drop-down-icon svg {
  margin: 1px 0 0 7px;
  font-size: 1.2rem;
}

.drop-hide {
  display: none;
}

.drop-down-container {
  position: absolute;
  top: 45px;
  left: 1122px;
  min-width: 85.5px;
  background-color: #fff;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  border-radius: 7px;
}

.drop-items {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-item {
  text-align: center;
  padding: 7px 0;
  width: 90%;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.drop-item:hover {
  background-color: #eee;
}
