.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
}

.shipment-num {
  color: #667085;
  font-family: "Cairo";
  font-weight: 600;
}

.error-info {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: 15px auto;
  font-size: 14.5px;
  color: #111619;
  background-color: #fef3f2;
  border: 1px solid #fecdca;
  border-radius: 5px;
}

.error-info svg {
  color: red;
  width: 3rem;
  font-size: 1.5rem;
  margin: 25px 10px 25px 10px;
}

.error-info p {
  width: 93%;
  padding-right: 10px;
}

/* rtl styling */

.error-rtl {
  direction: rtl;
}

.p-rtl {
  padding-left: 10px;
  padding-right: 0 !important;
}
